<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

<body>
<%- include('layouts/navbarHome'); -%>
<div class="img-delete">

<div class="register-page">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1>OBS !!!</h1>
                <p>Brugeren bliver slettet ved at trykke på navnet i listen</p>
                <br>
                <h2>(Sikker på du vil?!?)</h2>
                <!-- BKS: kilden for denne kode: https://ejs.co/ fundet 10/05-20 -->
                <!-- samt https://www.youtube.com/watch?v=3fF4t-s7KXY 09/05-2020 (og modificeret) -->
                <ul>
                    <% users.forEach(function(user){ %>
                        <li><a href="/admin/delete/?userName=<%= user.username %>"> Slet <%= user.username %></a></li>
                    <%});%>
                </ul>
            </div>
        </div>
    </div>

</div>
</div>
</body>

<%- include('layouts/scripts'); -%>

</html>