<!DOCTYPE HTML>
<html lang="en">

<%- include('layouts/header'); -%>

<body>
<%- include('layouts/navbarHome'); -%>
<div class="img-user">
    <div class="card">
            <h1 class="fullName" id="fullName"><%= fullName.fullName %></h1>
            <p class="lTitle" id="lTitle"><%= fullName.lTitle %></p>
            <p class="lDepartment" id="lDepartment"><%= fullName.lDepartment%></p>
            <p class="lTelephone" id="lTelephone"><%= fullName.lTelephone%></p>
            <p class="lEmailAdr" id="lEmailAdr"><%= fullName.lEmailAdr%></p>
            <br>
            <button id="changeInfoBtn">Ret info</button>

        <form action="/projectLeader/leader/plProfile" method="POST">
            <div id="infoBox" class="infoBox">
                <div id="infoBoxContent">

                    <span class="close">&times;</span>
                    <label for="fullName"><b>Navn</b></label>
                    <input type="text" placeholder="Navn" name="fullName" id="fullName" class="inputField" value="<%= fullName.fullName %>">
                    <label for="lTitle"><b>Titel</b></label>
                    <input type="text" placeholder="Titel" name="lTitle" id="lTitle" class="inputField" value="<%= fullName.lTitle %>">
                    <label for="lDepartment"><b>Afdeling</b></label>
                    <input type="text" name="lDepartment" id="lDepartment" class="inputField" placeholder="Afdeling" value="<%= fullName.lDepartment %>">
                    <label for="lTelephone"><b>Telefon</b></label>
                    <input type="text" name="lTelephone" id="lTelephone" class="inputField" placeholder="Telefon" value="<%= fullName.lTelephone %>">
                    <label for="lEmailAdr"><b>Email</b></label>
                    <input type="text" name="lEmailAdr" id="lEmailAdr" class="inputField" placeholder="Email" value="<%= fullName.lEmailAdr %>">
                    <button id="saveChanges">Gem</button>
                </div>
            </div>
        </form>
        <br>
        <br>


</div>
    <!-- Kode hentet fra https://www.w3schools.com/howto/howto_js_filter_table.asp -->
    <h2>Medarbejdere</h2>
    <input type="text" id="plInput" onkeyup="searchEmp()" placeholder="Søg på navn..">

    <table id="plTable">
        <tr class="header">
            <th style="width:60%;">Navn</th>
            <th style="width:40%;">Afdeling</th>
        </tr>
        <tr>
            <td>Josefine Andersen</td>
            <td>Regnskab</td>
        </tr>
        <tr>
            <td>Sten M. Stuffs</td>
            <td>Marketing</td>
        </tr>
        <tr>
            <td>Sofie J. M. Frisk</td>
            <td>Salg</td>
        </tr>
        <tr>
            <td>Yvonne K. Skovsen</td>
            <td>HR</td>
        </tr>
    </table>
</body>
<%- include('layouts/scripts'); -%>
</html>