<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

<body>

<%- include('layouts/navbarEmployee'); -%>
<div class="img-user">

<div class="pictureCard">
    <img id="profileImage" class="profileImage" src="" alt="profileImage">
    <br>
    <button id="changeImageBtn">Upload billede</button>
</div>

<div id="imageBox" class="imageBox">
     <div id="imageBoxContent">
         <span class="spanClose">&times;</span>
         <form ref="uploadForm" id="uploadForm" action="/user/userProfileImage" method="POST" enctype="multipart/form-data">
              <div class="control-group">
                   <div class="form-group floating-label-form-group controls">
                        <label for="profileImage"><b>Image</b></label>
                        <input type="file" class="form-control" id="profileImage" name="profileImage">
                        <button type='submit' value='Upload!'>Upload</button>
                        <img src="" id="preview" alt="profilbillede">
                   </div>
              </div>
              <br>
              <div class="form-group">
                   <p>Billedet skal have formatet bredde: 200px og højde: 300px</p>
              </div>
         </form>
     </div>
</div>

<div class="card">
    <h1 class="profileName" id="profileName"><%= profileName.profileName %></h1>
    <p class="profileTitle" id="profileTitle"><%= profileName.profileTitle %></p>
    <p class="profileDepartment" id="profileDepartment"><%= profileName.profileDepartment %></p>
    <p class="profilePhone" id="profilePhone"><%= profileName.profilePhone %></p>
    <p class="profileEmail" id="profileEmail"><%= profileName.profileEmail %></p>
    <br>
    <button id="changeInfoBtn">Ret info</button>
</div>

<form action="/user/userProfile" method="POST">
    <div id="infoBox" class="infoBox">
         <div id="infoBoxContent">
             <span class="close">&times;</span>
             <label for="profileName"><b>Navn</b></label>
             <input type="text" placeholder="Navn" name="profileName" id="profileName" class="inputField" value="">

             <label for="profileTitle"><b>Titel</b></label>
             <input type="text" placeholder="Title" name="profileTitle" id="profileTitle" class="inputField" value="">

             <label for="profileDepartment"><b>Afdeling</b></label>
             <input type="text" name="profileDepartment" id="profileDepartment" class="inputField" placeholder="Afdeling" value="">

             <label for="profilePhone"><b>Afdeling</b></label>
             <input type="text" name="profilePhone" id="profilePhone" class="inputField" placeholder="Telefon" value="">

             <label for="profileEmail"><b>Email</b></label>
             <input type="text" name="profileEmail" id="profileEmail" class="inputField" placeholder="Email" value="">
             <button id="">Gem</button>
            </div>
    </div>
</form>

<form action="/user/userProfileText" method="POST">
    <div class="text-container">
         <div class="profileText">
              <h1>Din profiltekst</h1>
         <div class="profileTextBox">
             <input type="text" name="heading" id="heading" class="inputField" placeholder="Overskrift"><%= heading.heading %>
             <textarea id="profileText" name="profileText" style="height: 50px"><%= heading.profileText %></textarea>
             <button> Gem </button>
         </div>
         </div>
    </div>
</form>
<form action="/user/userProfileSkills" method="POST">
    <div class="skills-container">
         <div class="profileSkills">
              <h1>Dine færdigheder</h1>
         <div class="profileSkillsBox">
             <input type="text" name="education" id="education" class="inputField" placeholder="Uddannelse"><%= education.HAit %>
             <textarea id="profileSkills" name="profileSkills" style="height: 50px"><%= education.profileSkills %></textarea>
             <button> Gem </button>
         </div>
         </div>
    </div>
</form>
</div>
</body>

<%- include('layouts/scripts'); -%>

</html>