<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

<body>

<%- include('layouts/navbarEmployee'); -%>
<div class="img-user">

    <div class="card">
        <img id="profileImage" class="profileImage" src="" alt="profileImage">
        <h1 class="profileName" id="profileName"><%= profileName %></h1>
        <p class="profileTitle" id="profileTitle"><%= profileTitle %></p>
        <p class="profileDepartment" id="profileDepartment"><%= profileDepartment %></p>
        <p class="profilePhone" id="profilePhone"><%= profilePhone %></p>
        <p class="profileEmail" id="profileEmail"><%= profileEmail %></p>
        <button id="changeInfoBtn">Ret info</button>
        <button id="changeImageBtn">Skift billede</button>



        <div id="infoBox" class="infoBox">
            <div id="infoBoxContent">
                <span class="close">&times;</span>
                <label for="profileName"><b>Navn</b></label>
                <input type="text" placeholder="Navn" name="profileName" id="profileName" class="inputField" value="<%= profileName %>">

                <label for="profileTitle"><b>Titel</b></label>
                <input type="text" placeholder="Titel" name="profileTitle" id="profileTitle" class="inputField" value="<%= profileTitle %>">

                <label for="profileDepartment"><b>Afdeling</b></label>
                <input type="text" name="profileDepartment" id="profileDepartment" class="inputField" placeholder="Afdeling" value="<%= profileDepartment %>">

                <label for="profilePhone"><b>Afdeling</b></label>
                <input type="text" name="profilePhone" id="profilePhone" class="inputField" placeholder="Telefon" value="<%= profilePhone %>">

                <label for="profileEmail"><b>Email</b></label>
                <input type="text" name="profileEmail" id="profileEmail" class="inputField" placeholder="Email" value="<%= profileEmail %>">
                <button id="saveChanges">Gem</button>
            </div>
        </div>
        <br>
        <br>



        <div id="imageBox" class="imageBox">
            <div id="imageBoxContent">
                <span class="close">&times;</span>
                <form ref="uploadForm" id="uploadForm" action="http://localhost:4000/upload" method="POST" enctype="multipart/form-data">
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label for="profileImage"><b>Image</b></label>
                            <input type="file" class="form-control" id="profileImage" name="profileImage" value="<%= profileImage %>">
                            <input type='submit' value='Upload!'>
                            <img src="" id="preview">
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <p>Billedet skal have formatet bredde: 200px og højde: 300px</p>
                        <button> Gem </button>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <div class="text-container">
        <form action="/user/profileText" method="POST">

            <div class="profileText">
                <h1>Din profiltekst</h1>
            </div>

            <div class="profileTextBox">
                <textarea id="profileText" name="profileText" style="height: 50px"><%= profileText %></textarea>
                <button> Gem </button>
            </div>

             <div class="profileSkills">
                <h1>Dine færdigheder</h1>
             </div>

            <div class="profileSkillsBox">
            <textarea id="profileSkills" name="profileSkills" style="height: 50px"><%= profileSkills %></textarea>
            <button> Gem </button>

        </form>
    </div>

</div>

</body>

<%- include('layouts/scripts'); -%>

</html>